<button (click)="ngOnInit()">tester</button>

<!-- <div class="toto" *ngFor="let quest of questions" >
     {{quest.question }}
     {{quest.correct_answer }}
    
</div>  -->
<h1 class="toto">{{questions[0].category}}</h1>
<!-- <p class="toto">{{questions[0].category}}</p> -->
<p class="toto">{{questions[0].question}}</p>
<!-- <p class="toto">  <li>{{questions[0].correct_answer}}</li></p> -->

<ul class="toto" *ngFor="let rep of questions[0].incorrect_answers,let index">
  
    <li>{{rep}}</li>
    
</ul>